<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Agendamento</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">  
   <link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.css">         
   <link rel="stylesheet" href="style.css">
   

   <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js"></script>
   <script>
       document.addEventListener('DOMContentLoaded', function(){
         var element = document.getElementById('calendar')
         var calendar = new FullCalendar.Calendar(element, {
            initialView: 'dayGridMonth',
            locale: 'pt-br',
            events: 'getCalendar',
            eventClick: function(info){
               window.location.href = `/event/${info.event.id}`
            },
            themeSystem: 'bootstrap'
         });
         calendar.render()
       })
      
   </script>

</head>
<body>
   <nav class="navbar navbar-dark bg-primary justify-content-center">
      <ul class="nav">
         <li class="nav-item text-white">
           <a class="nav-link text-white active" href="/">Home</a>
         </li>
         <li class="nav-item">
           <a class="nav-link text-white" href="/cadastro">Cadastro</a>
         </li>
         <li class="nav-item">
           <a class="nav-link text-white" href="/list">Consultas</a>
         </li>
       </ul>
    </nav>
   <div class="container">
     


      <div id="calendar" class="mt-4">

      </div>
   </div>
   
   

  

   
</body>
</html>